@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

@font-face {
    font-family: 'firstFont';
    src: url(/maa-annapurna-official-frontend/global/files/fonts/CharukolaUltraLight.woff);
}
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-family: 'firstFont';
    font-size: 62.5%;
    font-size: 10px;
}

/* Home section */

.home {
    margin-top: 62px;
    width: 100%;
    height: 100vh;
    background-image: url("/maa-annapurna-official-frontend/global/files/images/2.jpg");
    background-position: center;
	background-size:cover;
}


.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}