@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

@font-face {
    font-family: 'secondFont';
    src: url(/maa-annapurna-official-frontend/global/files/fonts/Mukto.woff);
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-family: 'firstFont';
    font-size: 62.5%;
    font-size: 10px;
}

.body_main_container {
    margin-top: 100px;
    padding: 0 100px;
}
@media (max-width: 1440px) {
    .body_main_container {
        margin-top:63px;
        padding: 30px;
    }
}

@media (max-width: 1024px) {
    .body_main_container {
        margin-top:63px;
        padding: 0;
    }
}



/*------------ carousel container -------------*/


#carousel_container {
    position: relative;
}

#carousel_container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(0deg, #ffffff, rgba(0, 0, 0, 0));
    opacity: 0;
    z-index: 4;
    transition: 1s all ease;
}

#carousel_container.active::before {
    opacity: 1;
    height: 50%;
}

#carousel_container .slide {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#carousel_container .carousel-item {
    display: none;
}

#carousel_container .visible_carousel {
    display: block;
}

#carousel_container .slide .mainImage {
    position: absolute;
    width: 130vw;
    height: 130vw;
    object-fit: cover;
    object-position: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-name: rotate;
    animation-timing-function: cubic-bezier(0.02, 0.63, 0.23, 0.99);
    animation-iteration-count: 1;
    animation-duration: 1.1s;
}

#carousel_container .slide .roundOuter {
    position: absolute;
    width: 86vw;
    height: 86vw;
    overflow: hidden;
    border-radius: 50%;
    left: calc(50% - 43vw);
    top: calc(50% - 43vw);
    filter: brightness(0.9);
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#carousel_container .slide .roundOuter img {
    position: absolute;
    width: 130vw;
    height: 130vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    animation-name: rotate;
    animation-timing-function: cubic-bezier(0.02, 0.63, 0.23, 0.99);
    animation-iteration-count: 1;
    animation-duration: 1.3s;
}

#carousel_container .slide .roundInner {
    position: absolute;
    width: 50vw;
    height: 50vw;
    overflow: hidden;
    left: calc(50% - 25vw);
    top: calc(50% - 25vw);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
}

#carousel_container .slide .roundInner img {
    position: absolute;
    width: 130vw;
    height: 130vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    animation-name: rotate;
    animation-timing-function: cubic-bezier(0.02, 0.63, 0.23, 0.99);
    animation-iteration-count: 1;
    animation-duration: 1.2s;
}

#carousel_container .slide .slideText {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.415);
}

#carousel_container .slide .slideText h1 {
    font-size: 5vw;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5vw;
    text-align: center;
    animation-delay: 1s;
    color: white;
    filter: drop-shadow(5px 5px 4px rgb(0, 0, 0));
    position: relative;
}

#carousel_container .slide .slideText h1::after {
    content: "";
    position: absolute;
    width: 40vw;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#carousel_container .slide .slideText p {
    text-align: center;
    letter-spacing: 20px;
    font-weight: 600;
    font-size: 1.3rem;
    padding-left: 1.3rem;
    text-transform: uppercase;
    animation-delay: 1.5s;
    filter: drop-shadow(0 2px 10px #000);
}

#carousel_container .slide .slideText .buttonNav {
    display: flex;
    justify-content: center;
    gap: 12px;
    animation-delay: 1.7s;
}

#carousel_container .slide .slideText .buttonNav button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.3rem;
    filter: drop-shadow(0 2px 10px #000);
}

#carousel_container .slide .slideText .buttonNav span {
    display: grid;
    width: 1px;
    flex: 0 0 1px;
    background-color: #fff;
    filter: drop-shadow(0 2px 10px #000);
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(5);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1);
    }
}

@media (max-width: 575px) {
    #carousel_container .slide .mainImage {
        width: 130vh;
        height: 130vh;
    }

    #carousel_container .slide .roundOuter {
        width: 86vh;
        height: 86vh;
        left: calc(50% - 43vh);
        top: calc(50% - 43vh);
    }

    #carousel_container .slide .roundOuter img {
        width: 130vh;
        height: 130vh;
    }

    #carousel_container .slide .roundInner {
        width: 50vh;
        height: 50vh;
        left: calc(50% - 25vh);
        top: calc(50% - 25vh);
    }

    #carousel_container .slide .roundInner img {
        width: 130vh;
        height: 130vh;
    }

    #carousel_container .slide .slideText h1 {
        font-size: 9vw;
        letter-spacing: 3vw;
        padding-left: 3vw;
    }

    #carousel_container .slide .slideText p {
        font-size: 5vw;
        letter-spacing: 2vw;
        padding-left: 2vw;
    }
}


/*------------ highlights container ---------*/

#highlights_container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#highlights_container .top h2 {
    text-align: center;
    font-size: 28px;
    color: #000;
}

#highlights_container .top p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 0 20px;
}


#highlights_container .bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.animation-wrapper {
    width: 100%;
    height: 600px;
    text-align: center;
    overflow: hidden;
    background: rgb(243, 135, 135);
    position: relative;
    color: #212121;
    box-sizing: border-box;
}

.animate {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
     animation: zoomInFade 6s linear 0s infinite forwards; 
}



.animate-1 {
    animation-delay: 6s;
}

.animate-2 {
    animation-delay: 12s;
}

.animate-3 {
    animation-delay: 18s;
}

.animate-4 {
    animation-delay: 24s;
}

.animate-5 {
    animation-delay: 30s;
}

.animate-6 {
    animation-delay: 36s;
}

@keyframes zoomInFade {
    0% {
        transform: scale(1.2);
        opacity: 0;
        top: 0;
        filter: blur(20px);
        visibility: visible;
    }

    25% {
        transform: scale(1);
        filter: blur(0px);
    }

    50% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0px);
    }

    75% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
    85% {
        filter: blur(3px);
    }

    100% {
        transform: scale(1.1);
        opacity: 0;
        top: 0;
        filter: blur(10px);
        visibility: hidden;
    }
}



/*----------- facilities container ----------*/

.facilities_container {
    margin-top: 100px;
    border: 0px solid rgb(21, 255, 0);
    font-family: 'secondFont';
}


.facilities_container .top h2 {
    text-align: center;
    font-size: 28px;
}

.facilities_container .top p {
    text-align: center;
    font-size: 15px;
}

.facilities_container .row_container {
    margin-top: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.facilities_container .row_container .box {
    overflow: auto;
    min-width: 280px;
    max-width: 280px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 1px rgba(95, 95, 95, 0.424);
    padding: 30px;
    border-radius: 10px;
    transition: all .2s ease-in-out;

}

.facilities_container .row_container .box img {
    float: right;
    height: 64px;
}

.facilities_container .row_container .box:nth-child(1) {
    border-top: 3px solid red;
}

.facilities_container .row_container .box:nth-child(2) {
    border-top: 3px solid blue;
}

.facilities_container .row_container .box:hover {
    scale: 1.05;
    animation: shake 0.2s ease-in-out;
    animation-iteration-count: 1;
}
  
@keyframes shake {
    0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/*------------ footer -------------*/

.main_footer {
    padding: 100px 0 10px;
}

.main_footer .footer_text {
    font-size: 11px;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.main_footer .footer_text a {
    color: hsl(228, 45%, 44%);
}

