@font-face {
  font-family: 'firstFont';
  src: url(../global/files/fonts/CharukolaUltraLight.woff);
}

.main_content {
  margin-top: 100px;
  font-family: 'firstFont';
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.main_content {
  margin: auto;
  margin-top: 100px;
  font-family: 'firstFont';
  font-weight: 300;
  font-style: normal;
  text-align: center;
  width: min(80rem, 90%);
}
.main_content span {
  text-transform: uppercase;
  display: block;
  font-size: 15px;
  color: #4141a4;
  font-weight: 600;
}
.main_content h2 {
  margin: 20px auto;
  color: #7a3354b3;
  font-size: 65px;
  font-weight: 900;
  user-select: none;
  letter-spacing: 0.5rem;
  filter: drop-shadow(5px 5px 4px rgba(247, 45, 45, 0.438));
  text-transform: uppercase;
}
.main_content p {
  text-transform: uppercase;
  line-height: 1.6;
  color: #992d2d;
  max-width: 50rem;
  margin: 30px auto;
  font-size: 15px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .main_content span {
    font-size: 12px;
  }
  .main_content h2 {
    font-size: 50px;
    letter-spacing: 3px;
  }
  .main_content p {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .main_content h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 425px) {
  .main_content h2 {
    font-size: 35px;
    letter-spacing: 1px;
  }
}
.main_content .cards {
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
  gap: 15px;
}
@media screen and (max-width: 600px) {
  .main_content .cards {
    gap: 35px;
  }
}
.main_content .cards .card {
  position: relative;
  background-color: white;
  box-shadow: rgb(240, 88, 154) 0px 20px 30px -10px;
  aspect-ratio: 1/1;
}
.main_content .cards .card::before {
  position: absolute;
  content: "";
  width: 5rem;
  height: 6.25rem;
  z-index: 0;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to left, #fd3939, #1074cd);
  top: -0.375rem;
  left: -0.375rem;
}
.main_content .cards .card::after {
  position: absolute;
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, hsla(210, 1%, 74%, 0.105), hsla(0, 0%, 3%, 0.887));
  background: linear-gradient(to bottom, #f009ba3e, #f60606b3);
}
.main_content .cards .card img {
  max-width: 100%;
  display: block;
  filter: grayscale(90%);
  transition: 0.5s ease;
}
.main_content .cards .card-content {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  color: #fff;
  width: 100%;
  padding: 1.875rem 1.25rem;
  text-align: center;
}
.main_content .cards .card-content a {
  padding: 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid white;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.main_content .cards .card-content a:hover {
  background: linear-gradient(to left, #8349ef7d, #ee2e2e6d);
  border-radius: 5px;
}

.main_content .cards .card:hover img {
  filter: grayscale(0%);
}
.main_content .cards .card:hover::before {
  transform: scale(1.09);
}
.main_content .cards .card:nth-child(1)::before {
  top: -0.375rem;
  left: -0.375rem;
}
@media screen and (min-width: 31.25rem) {
  .main_content .cards .card:nth-child(2) {
    transform: translatey(15%);
  }
}
.main_content .cards .card:nth-child(2)::before {
  bottom: -0.375rem;
  left: -0.375rem;
  top: auto;
  background: linear-gradient(to bottom, #2958e4, #f33030);
}
.main_content .cards .card:nth-child(3)::before {
  top: -0.375rem;
  left: -0.375rem;
  background: linear-gradient(to left, #8349ef, #ee2e2e);
}


/*------------ footer -------------*/

.main_footer {
  padding: 100px 0 20px;
}

@media screen and (min-width: 768px) {
  .main_footer {
    padding: 150px 0 20px;
  }
}
.footer_text {
  font-size: 11px;
  text-align: center;
}

.footer_text a {
  color: hsl(228, 45%, 44%);
}