@font-face {
    font-family: 'firstFont';
    src: url(/maa-annapurna-official-frontend/global/files/fonts/CharukolaUltraLight.woff);
}

.main_content {
    margin-top: 100px;
    width: 100vw;
    font-family: 'firstFont';
    position: relative;
}

.main_content>h1 {
    text-align: center;
    font-size: 28px;
}

.gellery_scroll {
    width: 90%;
    position: relative;
}

.scroll {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    /* mask-image: linear-gradient(90deg, transparent, #fff 10%, #fff 50%, transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent, #ffffff 10%, #fff 80%, transparent) */
}

.scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);

}

.scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.imgBox div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox img {
    border-radius: 20px;
    max-width: 350px;
    object-fit: contain;
    scale: .92;
}


/*--------- card css --------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --color: #ffffff;
}

body {
    -webkit-tap-highlight-color: transparent;
}

.box {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}

.box::before {
    content: "";
    position: absolute;
    background: linear-gradient(#cc00ff, #00d440);
    inset: 0 120px;
    transition: 0.5s;
    animation: anime 4s linear infinite;
}

@keyframes anime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box:hover::before {
    inset: 0 0;
}

.box::after {
    content: "";
    position: absolute;
    inset: 5px;
    background: var(--color);
    border-radius: 50%;
    z-index: 1;
}

.box .card {
    position: absolute;
    inset: 30px;
    border: 6px solid black;
    border-radius: 50%;
    z-index: 3;
    perspective: 800px;
}

.box .front,
.box .back {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    backface-visibility: hidden;
    transition: 0.5s linear;
}

.box .front img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.box .back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-color: red;
}

.box .back h2 {
    font-size: 1.8rem;
}

.box .back p {
    font-size: 1.1rem;
    margin: 10px;
}

.box .back a {
    background: transparent;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 1.2rem;
    color: #f7f7f7;
    margin-top: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    transition: 0.5s;
}

.box .back a:hover {
    letter-spacing: 0.2rem;
    background: linear-gradient(90deg, #6616d0, #ac34e7);
    transition: 0.4s ease-in-out;
}

/* normal position */
.box .front {
    transform: rotateY(0deg);
}

.box .back {
    transform: rotateY(-180deg);
}

/* Hover position */
.box:hover .front {
    transform: rotateY(180deg);
}

.box:hover .back {
    transform: rotateY(0deg);
}

@media screen and (max-width: 668px) {
    .box {
        width: 300px;
        height: 300px;
    }

    .box .card {
        inset: 16px;
    }

    .box .back a {
        padding: 8px 15px;
        font-size: 15px;
    }
}



/*-------- flip container -------*/

@import url(https://fonts.googleapis.com/css?family=Raleway|Reenie+Beanie);

* {
    box-sizing: border-box;
}



#content img {
    width: 100%;
}

#content a {
    color: #000;
}

#content .caption,
#content h1 {
    font-family: monospace;
    font-size: 2em;
    padding: 10px 10px 0 10px;
}

#content .date {
    font-size: 0.75em;
}

#content .description {
    font-size: 0.9em;
    padding: 0 20px 20px 20px;
    text-align: left;
}

#content .container {
    perspective: 1000px;
    display: inline-block;
    margin: 3%;
}

#content .container:hover .flipper {
    transform: rotateY(180deg);
}

#content .container,
#content .front,
#content .back {
    width: 250px;
    height: 250px;
}

#content .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

#content .front,
#content .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content .front {
    z-index: 2;
}

#content .back {
    transform: rotateY(180deg);
}

#content {
    text-align: center;
}


/*------ ribbon container -------*/



.ribbon_container {
    margin: 0 auto;
    width: calc(100vw - 2rem);
    padding: 1rem;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 15.625rem));
    grid-template-rows: auto;
    gap: 1rem;
    --hot-one: hsl(0, 96%, 49%);
    --hot-two: hsl(0, 89%, 30%);
    --new-one: hsl(75, 88%, 42%);
    --new-two: hsl(78, 89%, 35%);
    --pop-one: hsl(207, 69%, 50%);
    --pop-two: hsl(212, 67%, 36%);
    --spo-one: hsl(38, 96%, 49%);
    --spo-two: hsl(34, 89%, 30%);
    --box-shadow: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
  }
  
  .ribbon_container .card {
    position: relative;
    background-color: white;
    color: black;
    filter: drop-shadow(0.125rem 0.125rem 0.125rem #888888);
  }
  
  .ribbon_container .card > img {
    /* position: absolute; */
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  
  .ribbon_container .ribbon {
    position: absolute;
    right: -0.313rem;
    top: -0.313rem;
    z-index: 1;
    overflow: hidden;
    width: 4.688rem;
    height: 4.688rem;
    text-align: right;
  }
  
  .ribbon_container .ribbon span {
    font-size: 0.625rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.25rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 6.25rem;
    display: block;
    position: absolute;
    top: 1.188rem;
    right: -1.313rem;
  }
  
  .ribbon_container .ribbon-hot span {
    color: var(--white);
    background: var(--hot-one);
    background: linear-gradient(var(--hot-one) 0%, var(--hot-two) 100%);
    box-shadow: 0 0.188rem 0.625rem -0.313rem var(--box-shadow);
  }
  
  .ribbon_container .ribbon-new span {
    color: var(--white);
    background: var(--new-one);
    background: linear-gradient(var(--new-one) 0%, var(--new-two) 100%);
    box-shadow: 0 0.188rem 0.625rem -0.313rem var(--box-shadow);
  }
  
  .ribbon_container .ribbon-pop span {
    color: var(--white);
    background: var(--pop-one);
    background: linear-gradient(var(--pop-one) 0%, var(--pop-two) 100%);
    box-shadow: 0 0.188rem 0.625rem -0.313rem var(--box-shadow);
  }
  
  .ribbon_container .ribbon-spo span {
    color: var(--white);
    background: var(--spo-one);
    background: linear-gradient(var(--spo-one) 0%, var(--spo-two) 100%);
    box-shadow: 0 0.188rem 0.625rem -0.313rem var(--box-shadow);
  }
  
  .ribbon_container .ribbon span::before {
    content: "";
    position: absolute;
    left: 0rem;
    top: 100%;
    z-index: -1;
  }
  
  .ribbon_container .ribbon span::after {
    content: "";
    position: absolute;
    right: 0rem;
    top: 100%;
    z-index: -1;
  }
  
  .ribbon_container .ribbon-hot span::before {
    border-left: 0.188rem solid var(--hot-two);
    border-right: 0.188rem solid transparent;
    border-bottom: 0.188rem solid transparent;
    border-top: 0.188rem solid var(--hot-two);
  }
  
  .ribbon_container .ribbon-hot span::after {
    border-left: 0.188rem solid transparent;
    border-right: 0.188rem solid var(--hot-two);
    border-bottom: 0.188rem solid transparent;
    border-top: 0.188rem solid var(--hot-two);
  }
  
  .ribbon_container .ribbon-new span::before {
    border-left: 0.188rem solid var(--new-two);
    border-right: 0.188rem solid transparent;
    border-bottom: 0.188rem solid transparent;
    border-top: 0.188rem solid var(--new-two);
  }
  
  .ribbon_container .ribbon-new span::after {
    border-left: 0.188rem solid transparent;
    border-right: 0.188rem solid var(--new-two);
    border-bottom: 0.188rem solid transparent;
    border-top: 0.188rem solid var(--new-two);
  }
  
  .ribbon_container .ribbon-pop span::before {
    border-left: 0.188rem solid var(--pop-two);
    border-right: 0.188rem solid transparent;
    border-bottom: 0.188rem solid transparent;
    border-top: 0.188rem solid var(--pop-two);
  }
  
  .ribbon_container .ribbon-pop span::after {
    border-left: 0.188rem solid transparent;
    border-right: 0.188rem solid var(--pop-two);
    border-bottom: 0.188rem solid transparent;
    border-top: 0.188rem solid var(--pop-two);
  }
  
  .ribbon_container .ribbon-spo span::before {
    border-left: 0.188rem solid var(--spo-two);
    border-right: 0.188rem solid transparent;
    border-bottom: 0.188rem solid transparent;
    border-top: 0.188rem solid var(--spo-two);
  }
  
  .ribbon_container .ribbon-spo span::after {
    border-left: 0.188rem solid transparent;
    border-right: 0.188rem solid var(--spo-two);
    border-bottom: 0.188rem solid transparent;
    border-top: 0.188rem solid var(--spo-two);
  }
  
  .ribbon_container .desc {
    margin: 0 auto;
    padding-top: 3rem;
    text-align: center;
    font-size: 1.3rem;
    max-width: 75ch;
  }
  

/*------------ footer -------------*/

.main_footer {
    padding: 100px 0 20px;
}

.footer_text {
    font-size: 11px;
    text-align: center;
}

.footer_text a {
    color: hsl(228, 45%, 44%);
}