
@font-face {
    font-family: 'firstFont';
    src: url(/maa-annapurna-official-frontend/global/files/fonts/CharukolaUltraLight.woff);
}

.main_content {
    margin-top: 100px;
    width: 100vw;
    font-family: 'firstFont';
    position: relative;
}

.main_content > h1 {
    text-align: center;
    font-size: 28px;
}
.gellery_scroll {
    width: 90%;
    position: relative;
}

.scroll {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    /* mask-image: linear-gradient(90deg, transparent, #fff 10%, #fff 50%, transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent, #ffffff 10%, #fff 80%, transparent) */
}

.scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);

}

.scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.imgBox div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox img {
    border-radius: 20px;
    max-width: 350px;
    object-fit: contain;
    scale: .92;
}
