@font-face {
    font-family: 'firstFont';
    src: url(../global/files/fonts/CharukolaUltraLight.woff);
}

@font-face {
    font-family: 'secondFont';
    src: url(../global/files/fonts/Chano.woff);
}

body {
    padding: 0;
    margin: 0;
}


/*------ for intersection observer ---------*/

p,
span,
.left {
    opacity: 0;
    transition: all 1s ease-in-out;
}

button {
    opacity: 0;
    transition: all .3s ease-in-out;
}

.visible {
    opacity: 1;
}


.main_content * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_content {
    margin-top: 100px;
    padding: 0 100px;
    font-family: 'firstFont';
}

@media screen and (max-width: 1440px) {
    .main_content {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1024px) {
    .main_content {
        margin-top: 60px;
        padding: 0;
    }
}

.main_heading {
    text-align: center;
    display: none;
}

.banner_container {
    background-image: url("../global/files/images/people_indian_temple.png");
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    opacity: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: 'secondFont';
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.banner_container span {
    background-color: rgba(0, 0, 0, 0.371);
    padding: 5px 10px;
    font-size: 25px;
    text-align: center;
}

.banner_container p {
    background-color: rgba(0, 0, 0, 0.467);
    padding: 25px 30px;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
}

.banner_container button {
    background-color: rgb(180, 5, 5);
    padding: 5px 50px;
    font-family: 'secondFont';
    font-size: 40px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.banner_container button:hover {
    background-color: rgb(143, 9, 9);
    animation: shakeButton 150ms 2 linear;
}

.banner_container button:active {
    background-color: rgb(93, 3, 3);
}

@media screen and (max-width: 1024px) {
    .banner_container {
        border-radius: 0px;
    }
}

@media screen and (max-width: 768px) {
    .banner_container {
        gap: 100px;
    }

    .banner_container span {
        font-size: 20px;
    }

    .banner_container p {
        font-size: 28px;
    }
}


/*---------- donor container --------*/

.donor_contianer {
    margin-top: 100px;
    height: 400px;
    padding: 100px 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    font-family: 'secondFont';
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    .donor_contianer {
        border-radius: 0px;
    }
}

@media screen and (max-width: 768px) {
    .donor_contianer {
        margin-top: 0;
    }
}

.animation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #ffffff;
    position: relative;
    color: #F1D3B2;
    box-sizing: border-box;
}

.donor_contianer .animate {
    padding: 30px 50px;
    display: none;
    vertical-align: top;
    width: max-content;
    margin-bottom: 16px;
    background-color: yellow;
    color: black;
    font-family: 'firstFont';
    font-size: 27px;
    font-weight: 600;
    border-radius: 20px;
    mask-image: url(../global/files/images/mask2.png);
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center;
    mask-origin: border-box;
    animation: zoomInFade 4s cubic-bezier(1,.01,0,.99) 0s infinite forwards;
}

.donor_contianer .start_animation {
    display: flex;
}

@keyframes zoomInFade {
    0% {
        filter: blur(2px);
        transform: scale(10) translate(0px, 200px) rotate(98deg);
        opacity: 0;
    }
    35% {
        transform: scale(1) translate(0px, 0px) rotate(0deg);
        filter: blur(0px);
        opacity: 1;
    }
    70% {
        transform: scale(1) translate(0px, 0px) rotate(0deg);
        filter: blur(0px);
        opacity: 1;
    }
    100% {
        transform: scale(10) translate(0px, -200px) rotate(-58deg);
        filter: blur(8px);
        opacity: 0;
    }
}



/*--------- achive container ---------*/

.achive_container {
    margin-top: 100px;
    padding: 100px 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    font-family: 'secondFont';
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    --grid-image-height: 150px;
    --grid-gap: 10px;
}

.achive_container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

.achive_container .right {
    padding: calc(((var(--grid-image-height)*2) + var(--grid-gap)) * .21);
}

.achive_container .right .grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--grid-gap);
    position: relative;
}

.rotate_grid {
    animation: rotateGrid .6s linear 0s 1 forwards;
}

@keyframes rotateGrid {
    100% {
        transform: rotate(45deg);
    }
}

.achive_container .icon {
    font-weight: 300;
    color: rgb(168, 46, 2);
}

.achive_container .small_text {
    font-size: 20px;
    font-weight: 600;
    color: rgb(168, 46, 2);
}

.achive_container .achive_title {
    font-size: 35px;
    font-weight: 700;
    color: rgb(161, 8, 8);
}

.achive_container button {
    min-width: max-content;
    width: 20%;
    background-color: rgb(255, 27, 27);
    padding: 5px 20px;
    font-family: 'secondFont';
    font-size: 40px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.achive_container button:hover {
    background-color: rgb(222, 10, 10);
    animation: shakeButton 150ms 2 linear;
}

.achive_container button:active {
    background-color: rgb(169, 4, 4);
}

.achive_container .right .grid>div {
    width: var(--grid-image-height);
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all .3s ease-in-out;
}

.achive_container .right .grid>.grid_box:hover {
    transform: scale(1.1);
}

.achive_container .right .grid>div:nth-child(1):before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    transform: rotate(-45deg);
    background: url(../global/files/images/donate_grid2.jpg) 0 0 repeat;
    background-position: center;
    background-size: contain;
}

.achive_container .right .grid>div:nth-child(2):before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    transform: rotate(-45deg);
    background-image: url("../global/files/images/donate_grid5.jpg");
    background-position: center;
    background-size: cover;
}

.achive_container .right .grid>div:nth-child(3):before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    transform: rotate(-45deg);
    background-image: url("../global/files/images/donate_grid4.jpg");
    background-position: center;
    background-size: cover;
}

.achive_container .right .grid>div:nth-child(4):before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    transform: rotate(-45deg);
    background-image: url("../global/files/images/donate_grid3.jpg");
    background-position: center;
    background-size: cover;
}

.achive_container .right .grid>div:nth-child(5):before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    transform: rotate(-45deg);
    background-color: rgb(22, 232, 148);
    background-image: url("../global/files/images/donate_grid.jpg");
    background-position: center;
    background-size: cover;
}

.achive_container .right .grid>.circle_center {
    width: calc(var(--grid-image-height) - 50px);
    position: absolute;
    border: 8px solid rgb(191, 191, 191);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

@media screen and (max-width: 1440px) {

    .achive_container {
        --grid-image-height: 120px;
    }

}

@media screen and (max-width: 1024px) {
    .achive_container {
        border-radius: 0px;
    }
}

@media screen and (max-width: 768px) {
    .achive_container {
        margin-top: 0;
        padding: 100px 30px;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .achive_container .left {
        align-items: center;
        gap: 100px;
    }

    .achive_container .small_text_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .achive_container .small_text {
        font-size: 20px;
    }

    .achive_container .achive_title {
        font-size: 25px;
    }

    .achive_container .left * {
        text-align: center;
    }

    .achive_container .left button {
        width: 50%;
    }


}

/*------------- another container ---------*/

.another_container {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.another_container .top {
    padding: 100px 40px 150px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgba(245, 10, 10, 0.819);
    background: rgb(189, 5, 5);
    background: radial-gradient(circle, rgba(189, 5, 5, 1) 0%, rgba(172, 9, 8, 1) 22%, rgba(144, 6, 15, 1) 58%);
    border-radius: 10px;
}

.another_container .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.another_container .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}

.another_container .left div {
    min-width: 350px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgb(255, 0, 170);
    background-image: url("../global/files/images/donate_grid.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all .3s ease-in-out;
}

.another_container .left div:hover {
    transform: scale(1.04);
}

.another_container .right p {
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
    color: white;
}

.another_container .right span {
    font-size: 17px;
    font-weight: 600;
    padding: 5px;
    color: white;
}

.another_container .right button {
    width: 180px;
    background-color: rgb(168, 13, 59);
    padding: 10px 40px;
    font-family: 'secondFont';
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.another_container .right button:hover {
    background-color: rgb(174, 11, 49);
    animation: shakeButton 150ms 2 linear;
}

.another_container .right button:active {
    background-color: rgb(169, 4, 4);
}

.another_container .bottom {
    max-width: 750px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    border-radius: 10px;

}

.another_container .bottom div {
    padding: 30px 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-top: 2px solid white;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all .3s ease-in-out;
}

.another_container .bottom div:hover {
    transform: scale(1.07) translate(0, 0px);
}

.another_container .bottom div:nth-child(1) {
    background-color: rgb(255, 0, 51);
}

.another_container .bottom div:nth-child(2) {
    background-color: rgb(253, 26, 94);
}

.another_container .bottom div:nth-child(3) {
    background-color: rgb(255, 77, 0);
}

.another_container .bottom div:nth-child(4) {
    background-color: rgb(255, 47, 0);
}

.another_container .bottom div p {
    font-size: 25px;
    border-bottom: 1px solid white;
}

.another_container .bottom div span {
    font-size: 15px;
}

@media screen and (max-width: 1440px) {
    .another_container .left div {
        min-width: 300px;
    }
}

@media screen and (max-width: 1024px) {
    .another_container .top {
        border-radius: 0;
    }

    .another_container .left div {
        min-width: 250px;
    }
}

@media screen and (max-width: 768px) {

    .another_container {
        margin-top: 0;
        margin-bottom: 180px;
    }

    .another_container .top {
        flex-direction: column;
        padding-top: 0;
        border-top: 150px solid white;
    }

    .another_container .left {
        height: 125px;
        width: 100%;
        position: relative;
    }

    .another_container .left div {
        position: absolute;
        bottom: 0px;
    }

    .another_container .top .right {
        align-items: center;
        text-align: center;
    }    

    .another_container .bottom {
        bottom: -30px;
        grid-template-columns: auto auto;
        max-width: 320px;
    }

    .another_container .bottom div {
        padding: 20px 10px 40px;
        border-bottom-left-radius: 50% 5%;
        border-bottom-right-radius: 50% 5%;
    }
}


@keyframes shakeButton {
    0% {
        transform: translate(2px, 0);
    }

    50% {
        transform: translate(-2px, 0);
        transform: rotate(2deg);
        opacity: .9;
    }

    100% {
        transform: translate(0, 0);
    }
}



/*------------ footer -------------*/

.main_footer {
    padding: 100px 0 10px;
}

.footer_text {
    font-size: 11px;
    text-align: center;
}

.footer_text a {
    color: hsl(228, 45%, 44%);
}