@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

@font-face {
    font-family: 'firstFont';
    src: url(../global/files/fonts/CharukolaUltraLight.woff);
}
.nav * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-family: 'firstFont';
}
.nav {
    --nav-font-size: 20px;
    --nav-font-weight: 600;
    --nav_font_color: rgb(0, 0, 0);
    --nav_font_hover_color: rgb(10, 6, 242);
    --nav_bg_color: #ffffff;
    --menu_bg_color: #ffffff;
    --nav_height: 50px;
}

/* Navbar section */

.nav {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 12px;
    left: 0;
    line-height: 65px;
    text-align: center;
    background-color: var(--nav_bg_color);
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
    transition: all .3s ease-in-out;
}

.page_language_banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 12px;
    z-index: 100;
}
.page_language_banner span {
    font-size: 8px;
    font-weight: 300;
    cursor: pointer;
}

.nav > div {    
    padding: 0 80px;
}

@media screen and (max-width:1024px) {
    .nav > div {    
        padding: 0 10px;
    }
}

.nav div.logo {
    float: left;
    width: auto;
    height: var(--nav_height);
    padding-left: 30px;
    display: flex
}

.nav div.logo a {
    line-height: var(--nav_height);
    text-decoration: none;
    color: var(--nav_font_color);
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
}

.nav div.logo a:hover {
    color: var(--nav_font_hover_color);
}

.nav div.main_list {
    height: 100%;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: var(--nav_height);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: var(--nav_height);
    padding: 0;
    padding-right: 30px;
    display: flex;
    justify-content: center;
}

.nav div.main_list ul li a {
    height: var(--nav_height);
    text-decoration: none;
    color: var(--nav_font_color);
    line-height: var(--nav_height);
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
}

.nav div.main_list ul li a:hover {
    color: var(--nav_font_hover_color);
}

.navTrigger {
    display: none;
    width: 25px;
    height: 18px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.navTrigger:hover i {
    background-color: var(--nav_font_hover_color);
}

@media screen and (max-width:768px) {
    .nav > div {    
        padding: 0;
    }
    .nav div.main_list {
        position: relative;
        width: 100%;
        height: 0px;
        overflow: hidden;
        border-top: 1px solid rgb(186, 184, 184);
        transition: all .3s ease-in-out;
    }
    .nav div.show_list {
        background-color: var(--menu_bg_color);
        height: 100vh;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .nav div.main_list ul li {
        margin-top: 40px;
        padding: 0;
        width: 100%;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
    }
    .navTrigger {
        display: block;
    }
}


/* Animation */


.navTrigger i {
    background-color: var(--nav_font_color);
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    cursor: pointer;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    opacity: 1;
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    opacity: 0;
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(7px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(7px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(7px) rotate(0deg);
    }
    100% {
        transform: translateY(7px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-7px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-7px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-7px) rotate(0deg);
    }
    100% {
        transform: translateY(-7px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}



